[Unit]
Description=SupportBot
After=network.target

[Service]
Environment="HOME=/opt/SupportBot"
WorkingDirectory=/opt/SupportBot
ExecStartPre=/usr/bin/mix deps.get
ExecStartPre=/usr/bin/mix compile
ExecStart=/usr/bin/mix run --no-halt
RestartSec=30s
Restart=always
User=SupportBot

[Install]
WantedBy=default.target
